doctype html
html(lang="nl")
    head
        title Calculator
        link(rel="stylesheet", href="main.css")
    body
        .wrapper
            .calculationSection
                .screenSection 0
                div(class="calculationSection calculationSection__button calculationSection__button--special" data-value="reset") ac
                div(class="calculationSection calculationSection__button calculationSection__button--special" data-value="negative") +/-
                div(class="calculationSection calculationSection__button calculationSection__button--special" data-value="operator") %
                div(class="calculationSection calculationSection__button calculationSection__button--operator" data-value="operator") /
                div(class="calculationSection calculationSection__button calculationSection__button--number" data-value="number") 7 
                div(class="calculationSection calculationSection__button calculationSection__button--number" data-value="number") 8 
                div(class="calculationSection calculationSection__button calculationSection__button--number" data-value="number") 9 
                div(class="calculationSection calculationSection__button calculationSection__button--operator" data-value="operator") x 
                div(class="calculationSection calculationSection__button calculationSection__button--number" data-value="number") 4 
                div(class="calculationSection calculationSection__button calculationSection__button--number" data-value="number") 5 
                div(class="calculationSection calculationSection__button calculationSection__button--number" data-value="number") 6 
                div(class="calculationSection calculationSection__button calculationSection__button--operator" data-value="operator") -
                div(class="calculationSection calculationSection__button calculationSection__button--number" data-value="number") 1 
                div(class="calculationSection calculationSection__button calculationSection__button--number" data-value="number") 2 
                div(class="calculationSection calculationSection__button calculationSection__button--number" data-value="number") 3
                div(class="calculationSection calculationSection__button calculationSection__button--operator" data-value="operator") +
                div(class="calculationSection calculationSection__button calculationSection__button--zero" data-value="number") 0
                div(class="calculationSection calculationSection__button calculationSection__button--number" data-value=",") ,
                div(class="calculationSection calculationSection__button calculationSection__button--operator" data-value="operator") =
